.s-collapse[data-v-73cd7255] { margin-bottom: 0.1em; margin-top: 0.1em; border: 1px solid rgba(var(--c-border-default),0.09); }
.s-collapse--borderless[data-v-73cd7255] { border: medium; }
.s-collapse__header[data-v-73cd7255] { padding: 0.4em; border-radius: 0px; position: relative; display: grid; grid-template-columns: [header-start] 1fr [centre-start] auto [centre-end] 1fr [header-end]; grid-template-rows: [header-row] auto; }
.s-collapse__header-title[data-v-73cd7255] { display: flex; align-items: center; grid-column-start: header-start; grid-row-start: header-row; }
.s-collapse__header-additional[data-v-73cd7255] { grid-column-start: centre-end; grid-row-start: header-row; display: flex; justify-content: flex-end; align-items: center; }
.s-collapse__header[data-v-73cd7255]:hover, .s-collapse__header[data-v-73cd7255]:active { cursor: pointer; }
.s-collapse__header-icon[data-v-73cd7255] { display: flex; align-items: center; font-size: 1.2em; padding-left: 0.5rem; padding-right: 0.5rem; margin: 0px; grid-row-start: header-row; }
.s-collapse__header-icon--right[data-v-73cd7255] { grid-column-start: header-end; }
.s-collapse__header-icon--left[data-v-73cd7255] { grid-column-start: header-start; }
.s-collapse__header--border[data-v-73cd7255] { border: 1px solid rgba(var(--c-border-default),0.09); }
.s-collapse--left .s-collapse__header-title[data-v-73cd7255] { padding-left: 2em; }
.s-collapse__body[data-v-73cd7255] { padding: 0.5em 0.4em; display: block; border-top: 1px solid var(--c-grey-300); }
.slide-enter-active[data-v-73cd7255] { transition: 0.2s ease-out; }
.slide-leave-active[data-v-73cd7255] { transition: 0.3s cubic-bezier(1, 0.5, 0.8, 1); }
.slide-enter-to[data-v-73cd7255], .slide-leave-from[data-v-73cd7255] { max-height: 100px; overflow: hidden; }
.slide-enter-from[data-v-73cd7255], .slide-leave-to[data-v-73cd7255] { overflow: hidden; max-height: 0px; opacity: 0; }