[data-v-4e2c650c] .s-modal__container { height: 100%; }
.s-modal__footer__buttons[data-v-4e2c650c] { display: flex; justify-content: flex-end; gap: 0.5rem; margin-bottom: 0.5rem; }
.print-modal__content[data-v-4e2c650c] { min-height: 200px; }
.print-modal__form[data-v-4e2c650c] { display: flex; flex-direction: column; min-height: 400px; font-size: 0.9em; }
.print-modal__form[data-v-4e2c650c] .s-input-base__label { font-size: 1em; }
.print-modal__checkbox-group[data-v-4e2c650c] { display: flex; flex-direction: column; }
.print-modal__checkbox[data-v-4e2c650c] { display: flex; flex-direction: row-reverse; }
.print-modal__checkbox[data-v-4e2c650c] .s-input-base__label { margin-left: 1rem; }
.print-modal__disclaimer[data-v-4e2c650c] { font-size: 0.9em; }
.print-modal__validation-error[data-v-4e2c650c] { color: var(--c-danger); }