@keyframes textShine-1a45d1a0 {
0% { background-position: 100% 50%; transform: translateZ(0px); }
100% { background-position: 0px 50%; }
}
.s-skeleton__text-block[data-v-1a45d1a0] { background-color: ; background-position-x: ; background-position-y: ; background-repeat: ; background-attachment: ; background-image: ; background-origin: ; background-clip: ; height: 2rem; border: 1px solid var(--c-grey-100); border-radius: 2px; background-size: 400% 100%; animation-name: textShine-1a45d1a0; animation-duration: 1.4s; animation-timing-function: ease; animation-iteration-count: var(--v42f5cb96); }