.menu-item__link[data-v-c96c7d66] { align-items: center; border-radius: 0px; border: 1px solid var(--ss-charcoal-400); color: var(--c-white-90); display: flex; margin: 0px 1rem; padding: 1.5rem 1rem; text-decoration: none; transition: background-color 0.3s ease 0s; }
.menu-item__link[data-v-c96c7d66]:hover { background-color: var(--c-white-10); }
.menu-item__link--gap[data-v-c96c7d66] { margin: 0.5rem 1rem; }
.menu-item__icon[data-v-c96c7d66] { margin-right: 1rem; max-width: 2.4rem; }
.menu-item__text[data-v-c96c7d66] { font-size: 1.4rem; font-weight: 500; }
.menu-item--light[data-v-c96c7d66] { color: var(--ss-charcoal-600); }
.menu-item--light .menu-item__link[data-v-c96c7d66] { color: var(--ss-charcoal-600); border: 1px solid var(--c-grey-200); }
.menu-item--light .menu-item__link[data-v-c96c7d66]:hover { background-color: rgba(var(--c-a-grey-200),.55); }