.contact-card[data-v-7f72ec16] { display: flex; align-items: center; justify-content: space-between; padding: 1rem; margin-bottom: 1.4rem; }
.contact-card .grid[data-v-7f72ec16] { display: grid; grid-template-columns: 1fr auto; gap: 1rem; }
.contact-card__info[data-v-7f72ec16] { display: flex; flex-direction: column; align-items: flex-start; padding-right: 1rem; }
.contact-card__name[data-v-7f72ec16] { font-size: 1.5rem; font-weight: 600; }
.contact-card__titles[data-v-7f72ec16] { font-size: 1.2rem; }
.contact-card .email[data-v-7f72ec16] { display: flex; align-items: center; padding-top: 0.5rem; border-top: 1px solid var(--ss-charcoal-200); }
.contact-card .email__icon[data-v-7f72ec16] { margin-right: 0.5rem; color: var(--ss-coral); font-size: 1.75rem; }
.contact-card .email a[data-v-7f72ec16] { color: var(--ss-charcoal); }
.contact-card__image-container[data-v-7f72ec16] { display: flex; justify-content: center; align-items: center; margin-bottom: 1rem; }
.contact-card__image[data-v-7f72ec16] { width: 100px; height: 100px; border-radius: 50%; object-fit: cover; }
.contact-block[data-v-8caa07a2] { padding: 1rem; }
.contact-block__title[data-v-8caa07a2] { display: inline-block; font-size: 1.6rem; font-weight: 600; margin: 1rem 0px 1rem 0.25rem; }