.s-status-code[data-v-17a5e697] { display: flex; flex-direction: column; align-items: center; gap: 1rem; }
.s-status-code__code[data-v-17a5e697] { font-size: 3rem; font-weight: 700; }
.s-status-code__message[data-v-17a5e697] { font-size: 1.5rem; text-align: center; }
.s-status-code__actions[data-v-17a5e697] { display: flex; }