.s-button[data-v-48457a39], .s-button[data-v-48457a39]:link, .s-button[data-v-48457a39]:visited { align-items: center; border-radius: 1px; border: 1px solid transparent; color: rgb(var(--ss-charcoal)); cursor: pointer; display: inline-flex; flex-direction: column; font-size: var(--default-font-size); justify-content: center; letter-spacing: 0.75px; height: 3rem; overflow: hidden; padding: 0.75rem 1.5rem; position: relative; text-align: center; text-decoration: none; text-wrap: balance; transition: all 0.2s ease 0s; white-space: nowrap; }
.s-button[data-v-48457a39]:not(.disabled) { box-shadow: var(--shadow-1); transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; }
.s-button[data-v-48457a39]:not(.disabled):hover { transform: translateY(1px); box-shadow: 0 .15rem .5rem var(--c-black-15); }
.s-button[data-v-48457a39]:not(.disabled):hover::after { transform: scaleX(1.4) scaleY(1.6); opacity: 0; }
.s-button[data-v-48457a39]:not(.disabled):active { transform: translateY(3px); box-shadow: 0 2px 4px var(--c-black-15); }
.s-button[data-v-48457a39]:not(.disabled):focus { outline: none; box-shadow: 0 2px 4px var(--c-black-15); }
.s-button .loader[data-v-48457a39] { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.s-button .loader-component[data-v-48457a39] { height: 15px; }
.s-button .content[data-v-48457a39] { align-items: center; display: flex; gap: 6px; height: 100%; justify-content: center; opacity: 1; transition: opacity 0.2s ease 0s, transform 0.2s ease 0s; }
.s-button.loading[data-v-48457a39] { cursor: wait; }
.s-button.loading .content[data-v-48457a39] { opacity: 0; user-select: none; }
.s-button.white[data-v-48457a39] { background-color: var(--c-white); color: var(--ss-charcoal); }
.s-button.white[data-v-48457a39]::after { background-color: var(--c-white); }
.s-button.primary[data-v-48457a39] { background-color: var(--c-primary); color: var(--c-white); }
.s-button.primary[data-v-48457a39]::after { background-color: var(--c-primary); }
.s-button.info[data-v-48457a39] { background-color: var(--ss-blue); color: var(--ss-blue-dark); }
.s-button.info[data-v-48457a39]::after { background-color: var(--ss-blue); }
.s-button.success[data-v-48457a39] { background-color: var(--ss-apple); color: var(--ss-apple-dark); }
.s-button.success[data-v-48457a39]::after { background-color: var(--ss-apple); }
.s-button.warning[data-v-48457a39] { background-color: var(--ss-pink); color: var(--ss-pink-dark); }
.s-button.warning[data-v-48457a39]::after { background-color: var(--ss-pink); }
.s-button.danger[data-v-48457a39] { background-color: var(--ss-orange); color: var(--ss-orange-dark); }
.s-button.danger[data-v-48457a39]::after { background-color: var(--ss-orange); }
.s-button.inverse[data-v-48457a39] { background-color: var(--ss-charcoal); color: var(--c-white); }
.s-button.inverse[data-v-48457a39]::after { background-color: var(--ss-charcoal); }
.s-button.rounded[data-v-48457a39] { border-radius: 2rem; }
.s-button.extra-small[data-v-48457a39] { min-width: 3.5rem; height: 2.25rem; font-size: 0.65rem; padding-top: 0px; padding-bottom: 0px; }
.s-button.small[data-v-48457a39] { min-width: 4.75rem; height: 2.75rem; font-size: 0.75rem; padding-top: 0px; padding-bottom: 0px; }
.s-button.medium[data-v-48457a39] { font-size: 1rem; }
.s-button.large[data-v-48457a39] { min-width: 7rem; min-height: 4rem; font-size: 1.25rem; }
.s-button.extra-large[data-v-48457a39] { min-width: 10rem; min-height: 6rem; font-size: 1.5rem; }
.s-button.bordered[data-v-48457a39] { border: 1px solid var(--ss-charcoal); }
.s-button.transparent[data-v-48457a39] { background-color: transparent; }
.s-button.muted[data-v-48457a39] { color: var(--c-mute-3); }
.s-button.disabled[data-v-48457a39] { cursor: not-allowed; background-color: var(--c-mute-1); opacity: 0.5; }
.s-button.block[data-v-48457a39] { display: block; }
.s-button[data-v-48457a39]::after { content: ""; display: inline-block; height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; z-index: -1; transition: all 0.4s ease 0s; }
.s-button.animate[data-v-48457a39] { animation: 0.5s ease-out 0.75s 1 normal backwards running moveInBottom; }
.s-button.text[data-v-48457a39] { background-color: transparent; border-bottom: 1px solid var(--c-primary); display: inline-block; padding: 0.4rem; text-decoration: none; transition: all 0.2s ease 0s; }
.s-button.text[data-v-48457a39]::after { background-color: transparent; }
.s-button.text[data-v-48457a39]:hover { background-color: var(--c-grey-200); box-shadow: none; color: var(--ss-charcoal); }
.s-button.text.inverse[data-v-48457a39] { color: var(--ss-charcoal); }
.s-button.text.inverse[data-v-48457a39]:hover { background-color: var(--ss-charcoal-400); color: var(--c-grey-100); }
.s-button.icon-button[data-v-48457a39] { font-size: 2rem; padding: 0.8rem 1rem 0.5rem; }
.fade-enter-active[data-v-48457a39], .fade-leave-active[data-v-48457a39] { transition: opacity 0.2s ease 0s; }
.fade-enter-from[data-v-48457a39], .fade-leave-to[data-v-48457a39] { opacity: 0; }