.s-video-card[data-v-4757b082] { height: var(--b19f136c); margin: 0px auto; max-width: 100%; overflow: hidden; position: relative; }
.video-player[data-v-4757b082] { height: var(--b19f136c); width: 100%; }