.image-card[data-v-149bf01d] { align-items: center; background-color: var(--c-white); border-radius: 0px; display: flex; flex-direction: column; grid-column: span 1; margin: 1rem; position: relative; min-height: inherit; }
.image-card a[data-v-149bf01d] { position: inherit; display: contents; }
.image-card[data-v-149bf01d]:hover { cursor: pointer; }
.image-card:hover .image-card__image img[data-v-149bf01d] { transform: scale(1.1); }
.image-card__image[data-v-149bf01d] { height: 100%; overflow: hidden; }
.image-card__image img[data-v-149bf01d] { width: 100%; height: 100%; object-fit: cover; border-radius: 0px; transition: transform 0.2s ease-in-out 0s; }
.image-card__content[data-v-149bf01d] { position: absolute; bottom: 0px; width: 100%; max-height: 100%; left: 0px; color: var(--c-white); padding: 1rem 2rem; overflow-y: auto; }
.image-card__content[data-v-149bf01d]::-webkit-scrollbar { width: 1em; background-color: rgba(220, 220, 220, 0.15); }
.image-card__content[data-v-149bf01d]::-webkit-scrollbar-track { box-shadow: rgba(48, 48, 48, 0.4) 0px 0px 5px inset; }
.image-card__content[data-v-149bf01d]::-webkit-scrollbar-thumb { background-color: rgba(200, 200, 200, 0.8); border-width: 1px 0px 1px 1px; border-style: solid none solid solid; border-color: rgba(48, 48, 48, 0.4) currentcolor rgba(48, 48, 48, 0.4) rgba(48, 48, 48, 0.4); border-image: none; }
.image-card__content a[data-v-149bf01d], .image-card__content a[data-v-149bf01d]:link, .image-card__content a.link[data-v-149bf01d] { color: var(--c-white); }
.image-card__content[data-v-149bf01d] .svg-icon svg { color: var(--c-white); }
.image-card__title[data-v-149bf01d] { font-size: 2.4rem; }
.image-card__title[data-v-149bf01d] .link { color: var(--c-white) !important; text-decoration: none; }
.image-card__subtext[data-v-149bf01d] { margin-bottom: 0.5rem; font-size: 2rem; }
.image-card__subtext[data-v-149bf01d] .link { text-decoration: none; color: inherit; }
.image-card--1[data-v-149bf01d] { grid-column: span 1; }
.image-card--2[data-v-149bf01d] { grid-column: span 2; }
.image-card--3[data-v-149bf01d] { grid-column: span 3; }
.image-card .svg-icon[data-v-149bf01d] { display: inline-block; width: 3rem; color: var(--c-white); font-size: 3rem; }
.image-card-grid[data-v-4ef11ea5] { display: grid; grid-template-columns: repeat(3, 1fr); grid-auto-columns: auto; gap: 0.5rem; min-height: 25rem; }
@media (max-width: 600px) {
  .image-card-grid[data-v-4ef11ea5] { grid-template-columns: repeat(1, 1fr); }
}
@media (min-width: 601px) and (max-width: 960px) {
  .image-card-grid[data-v-4ef11ea5] { grid-template-columns: repeat(2, 1fr); }
}