.s-shorten-text[data-v-ece05649] { font-size: 16px; position: relative; overflow: hidden; line-height: 1.5; height: var(--a707b48e); }
.s-shorten-text__action[data-v-ece05649] { display: inline-flex; }
.s-shorten-text__action--abs[data-v-ece05649] { position: absolute; bottom: 0px; right: 0px; }