.s-skeleton[data-v-43b3c3cb] { display: flex; flex-direction: column; width: 100%; margin-bottom: 1rem; }
.s-skeleton__row[data-v-43b3c3cb] { display: flex; }
.s-skeleton__block-container[data-v-43b3c3cb] { width: 100%; display: inline-flex; }
.s-skeleton--small[data-v-43b3c3cb] { gap: 1.25rem; }
.s-skeleton--small .s-skeleton__block-container[data-v-43b3c3cb] { font-size: 1rem; }
.s-skeleton--medium[data-v-43b3c3cb] { gap: 1.25rem; }
.s-skeleton--medium .s-skeleton__block-container[data-v-43b3c3cb] { font-size: 2rem; }
.s-skeleton--large[data-v-43b3c3cb] { gap: 1.75rem; }
.s-skeleton--large .s-skeleton__block-container[data-v-43b3c3cb] { font-size: 5rem; }
.s-skeleton[data-v-43b3c3cb] { font-size: var(--v6d2e6672); }
.s-skeleton__block-container[data-v-43b3c3cb] { height: var(--v7073cf29); }